[Desktop Entry]
Version=1.5
Type=Application
Name={{name}}
GenericName=File Manager
Comment={{comment}}
Keywords=files;folders;manager;filesystem;browse;
TryExec={{exec}}
Exec={{exec}} %U
Icon={{icon}}
Terminal=false
StartupNotify=true
StartupWMClass={{exec}}
Categories=System;Utility;FileTools;FileManager;
MimeType=inode/directory;
